/* ---------------------------- */
/* Custom properties            */
/* ---------------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 247 100% 96%;
    --clr-sub: 161 45% 56%;
    --clr-main: 218 100% 34%;
    /* fonts */
    --ff-main: 'Kufam', sans-serif;
    --ff-sub: 'Harmattan', sans-serif;
}

/* colors */
.text-dark

/* ---------------------------- */
/* Reset                        */
/* ---------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ---------------------------- */
/* overall style                */
/* ---------------------------- */

body {
    background-color: hsl(var(--clr-light));
    color: hsl(var(--clr-dark));
}
.main {
    width: 80vw;
    margin-inline: auto;
    margin-block: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff-sub);
    padding: 1.5rem;
    font-size: 1.2rem;
    background-color: hsl(var(--clr-dark) / 0.05);
}
.title {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: var(--ff-main);
    margin: 2rem;
    text-align: center;
}
label { 
    display: block;
    padding-inline: 0.5rem;
}
input , select, button{
    /* width: 15rem; */
    display: block;
    padding-inline: 1rem;
    border: 0;
    background-color: hsl(var(--clr-main) / 0.4);
}
button {
    background-color: hsl(var(--clr-sub) / 0.3);
    box-shadow: 2px 2px 2px black;
}

/* ---------------------------- */
/* specific styling             */
/* ---------------------------- */

.add-button {
    margin: 1rem auto;
}

button:hover {
    background-color: hsl(var(--clr-sub));
}

.tasks-list{
    text-decoration: none;
    list-style: none;
}
.tasks-list li:nth-child(odd) {
    background-color: hsl(var(--clr-dark) / 0.1 );
}
.tasks-list li {
    position: relative;
    padding: 0.7rem;
    margin: 0.1rem;
    background-color: hsl(var(--clr-dark) / 0.2 );
}
.tasks-list li:hover{
    background-color: hsl(var(--clr-dark) / 0.3 );
}
.close {
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 0;
    color: hsl(var(--clr-main) / 0.5);
    transform: translate(10px,-5px);    
    
   
}
.close:hover {
    color: hsl(var(--clr-main));
    cursor: pointer;
}
.result-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.result-button {
    margin-bottom: 1rem;
}
.result-box {
    min-width: 20rem;
    max-width: 30rem;
    background-color: hsl(var(--clr-main) / 0.2);
    padding: 2.6rem 1rem 1rem;
    text-align: center;
}
.fa-copy {
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    font-size: 1.4rem;
    transition: font-size 0.1s ease-in-out;
}
.fa-copy:hover {
    cursor: pointer;
    font-size: 1.6rem;
}
.hidden { 
    display: none;
}